{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Register - Sports Ground Management{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0">Create an Account</h4>
            </div>
            <div class="card-body">
                <form method="post" novalidate>
                    {% csrf_token %}
                    
                    <h5 class="mb-3">Account Information</h5>
                    <div class="row">
                        <div class="col-md-6">
                            {{ user_form.username|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ user_form.email|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ user_form.first_name|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ user_form.last_name|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ user_form.password1|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ user_form.password2|as_crispy_field }}
                        </div>
                    </div>
                    
                    <hr class="my-4">
                    
                    <h5 class="mb-3">Profile Information</h5>
                    <div class="row">
                        <div class="col-md-6">
                            {{ profile_form.phone_number|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ profile_form.address|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="alert alert-info mt-4">
                        <p class="mb-0">By registering, you agree to our Terms of Service and Privacy Policy.</p>
                    </div>
                    
                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
                <div class="mt-3 text-center">
                    <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}